<!DOCTYPE html>
<html xmlns:wb=“http://open.weibo.com/wb”>
    <head>
        <meta charset="utf-8">
        <meta name="baidu-site-verification" content="eMgvhgUt88" />
        <meta name="google-site-verification" content="So91JNiDvDvvIA0dfpi-A0DkHlw5Jr1TiKdwXoLtv8k" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        {% block meta%}{% endblock%}
        <title>
            {% block title%}{% endblock%}
        </title>
        <link href="{{STATIC_URL}}css/bootstrap.css" rel="stylesheet" media="screen">
        <link rel="shortcut icon" href="{{STATIC_URL}}img/favicon.ico" type="image/x-icon" />
        {% block extra_css %}{% endblock %}
        {% block head %}{% endblock %}
        
    </head>
    <body >
    
        <!--top-menu-bar -->
        <div class="navbar navbarinverse navbar-fixed-top" id="top-menu-bar">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="brand" href="/">ReadWeibo</a>
                    <div class="nav-collapse collapse">

                        <ul class="nav">
                            <li class="divider-vertical"></li>

                            <li class="">
                                <a href="/weibo/category/1">
                                    <i class="icon-book"></i>
                                    机器学习微博
                                </a>
                            </li>

                            <li class="">
                                <a href="/user/category/1">
                                    <i class="icon-user"></i>
                                    机器学习用户
                                </a>
                            </li>

                            <li class="">
                                <a href="/weibo/label/">
                                    <i class="icon-pencil"></i>
                                    我要分类
                                </a>
                            </li>
                            <li class="">
                                <a class="label label-warning">
                                    应用开发中，过几天再来看看
                                </a>
                            </li>
                        </ul>
                        <p class="navbar-text pull-right">
                            {% if user.is_authenticated %}
                            <a href="{{user_weibo_link}}" class="navbar-link">Hey, @{{ user.username }}</a>
                            {% else %}
                            <a href={{ authorize_url }}><img src="http://www.sinaimg.cn/blog/developer/wiki/24.png"></a>
                            {% endif %}
                        </p>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>
        <!--end-top-menu-bar -->

        <br /> <br /> <br /> 

        {%if messages %}
        <div class="alert alert-info">
            <a class="close" data-dismiss="alert">×</a>
            {{messages}}
        </div> 
        {% endif %}
        {% block main %}
        {% endblock %}

        <script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.8.3.min.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/masonry.pkgd.min.js"></script>
        <script>
            var container = document.querySelector('#container');
            var msnry = new Masonry( container, {
                                    itemSelector: '.item',
                                    columnWidth: 20
                                  });
            imagesLoaded( container, function() {
                  msnry.layout();
              });
        </script>

        <script type="text/javascript">
            var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
            document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F2b2a07e2bf9e6ccbe215e15ba0ff38b1' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script src="{{STATIC_URL}}js/bootstrap.js"></script>
        {% block extra_scripts %}{% endblock %}
    </body>
</html>
