<!DOCTYPE html>
<html xmlns:wb=“http://open.weibo.com/wb”>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        {% block meta%}{% endblock%}
        <title>
            {% block title%}{% endblock%}
        </title>
        <link href="{{STATIC_URL}}css/bootstrap.css" rel="stylesheet" media="screen">
        {% block extra_css %}{% endblock %}
        {% block head %}{% endblock %}
        
    </head>
    <body data-spy="scroll">
    
        <!--top-menu-bar -->
        <div class="navbar navbar-inverse navbar-fixed-top" id="top-menu-bar">
          <div class="navbar-inner">
            <div class="container-fluid">
              <a class="brand" href="/">ReadWeibo</a>
              <div class="nav-collapse collapse">
                <p class="navbar-text pull-right">
                  {% if user.is_authenticated %}
                    <a href="{{user_weibo_link}}" class="navbar-link">Hey, @{{ user.username }}</a>
                    {% else %}
                        <a href={{ authorize_url }}><img src="http://www.sinaimg.cn/blog/developer/wiki/24.png"></a>
                  {% endif %}
                </p>
              </div><!--/.nav-collapse -->
            </div>
          </div>
        </div>
        <!--end-top-menu-bar -->
        <br />
        <br />
        <br />
    
    <div class="span1" id="left-part">

        <ul class="nav nav-list" id="category-bar">

            <li class="nav-header">
                <i class="icon-user"></i>
                用户分类
            </li>
            {% for category in all_categories %}
            <li><a href="/user/category/{{category.category_id}}">{{category.name}}</a></li>
            {% endfor %}
            <li class="nav-header">
                <i class="icon-book"></i>
                微博分类
            </li>
            {% for category in all_categories %}
            <li><a href="/weibo/category/{{category.category_id}}">{{category.name}}</a></li>
            {% endfor %}
            
            <li class="nav-header">===</li>
            <li class="nav-header">预测</li>
            <li class="nav-header">===</li>
            <li class="nav-header">
                <i class="icon-user"></i>
                用户分类
            </li>
            {% for category in all_categories %}
            <li><a href="/user/category_predict/{{category.category_id}}">{{category.name}}</a></li>
            {% endfor %}
            <li class="nav-header">
                <i class="icon-book"></i>
                微博分类
            </li>
            {% for category in all_categories %}
            <li><a href="/weibo/category_predict/{{category.category_id}}">{{category.name}}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div id="right-part">
        {% block main %}
        {% endblock %}
    </div>

        <script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.8.3.min.js"></script>
        <script src="{{STATIC_URL}}js/bootstrap.js"></script>
        {% block extra_scripts %}{% endblock %}
    </body>
</html>
