{% extends "base.html" %}
{% load common_filter %}
{% load set_var %}

{% block title %}ReadWeibo{% endblock%}

{% block extra_css %}
<link rel="stylesheet" media="all" charset="utf-8" href="{{STATIC_URL}}css/home.css"/>
<link rel="stylesheet" media="all" charset="utf-8" href="{{STATIC_URL}}css/google-now-card.css"/>
<link href="http://fonts.googleapis.com/css?family=Open+Sans:500,400,300" rel="stylesheet" type="text/css">
{% endblock %}
		    
{% block main %}

<div class="span1" id="left-part">
    <ul class="nav nav-tabs nav-stacked" id="category-bar">
      {% for category in all_categories %}
      <li><a href="/user/category/{{category.category_id}}">{{category.name}}</a></li>
      {% endfor %}
    </ul>
</div>

<div class="span10" id="right-part">

    <table class="">
    {% for user in category_users %}


    {% endfor %}
    </table>

</div>

{% endblock %}

{% block extra_scripts %}
	<script type="text/javascript" src="{{STATIC_URL}}js/home.js"></script>
{% endblock %}
