{% extends "base.html" %}
{% load common_filter %}
{% load set_var %}

{% block title %}ReadWeibo{% endblock%}

{% block extra_css %}
<link rel="stylesheet" media="all" charset="utf-8" href="{{STATIC_URL}}css/home.css"/>
<link rel="stylesheet" media="all" charset="utf-8" href="{{STATIC_URL}}css/google-now-card.css"/>
{% endblock %}
            
{% block main %}

<div id="container">
    {% for cur_user in category_users %} 
        <div class="item">
            {% include "user-card.html" %}
        </div>
    {% endfor %}
</div>


{% endblock %}

{% block extra_scripts %}
    <script type="text/javascript" src="{{STATIC_URL}}js/home.js"></script>
{% endblock %}
