{% extends "base.html" %}
{% load common_filter %}

{% block title %}ReadWeibo{% endblock%}

{% block extra_css %}
<link rel="stylesheet" media="all" charset="utf-8" href="{{STATIC_URL}}css/home.css"/>
<link rel="stylesheet" media="all" charset="utf-8" href="{{STATIC_URL}}css/google-now-card.css"/>
{% endblock %}
            
{% block main %}

<div class="span5">
    {% for weibo in watch_weibo_left %}

    {% include "weibo-card.html" %}

    {% endfor %}
</div>

<div class="span5">

    {% for weibo in watch_weibo_right %}

    {% include "weibo-card.html" %}

    {% endfor %}
  

</div>

{% endblock %}

{% block extra_scripts %}
<script type="text/javascript" src="{{STATIC_URL}}js/home.js"></script>
{% endblock %}
