{% extends "base.html" %}
{% load common_filter %}

{% block title %}ReadWeibo{% endblock%}

{% block extra_css %}
<link rel="stylesheet" media="all" charset="utf-8" href="{{STATIC_URL}}css/home.css"/>
<link rel="stylesheet" media="all" charset="utf-8" href="{{STATIC_URL}}css/google-now-card.css"/>
{% endblock %}


{% block main %}

<div id="container" class="js-masonry" data-masonry-options='{ "columnWidth": 100, "itemSelector": ".item" }'>

    {% for weibo in weibo_list %}

    <div class="item">
        {% include "weibo-card.html" %}
    </div>

    {% endfor %}

</div>

{% endblock %}

{% block extra_scripts %}
<script type="text/javascript" src="{{STATIC_URL}}js/home.js"></script>
{% endblock %}
