{% load common_filter %}

<ul class="gNow" id="{{weibo.w_id}}">
    <li>
         <div class="card">
            <p class="card-title">
                <a href="/user/weibos/{{weibo.owner.w_uid}}">
                @{{weibo.owner.w_name}}
                </a>
            </p>

            {% if weibo.retweeted_status %}
            <p>{{weibo.text}}//@{{weibo.retweeted_status.owner.w_name}}:{{weibo.retweeted_status.text}}</p>
                {% if weibo.retweeted_status.bmiddle_pic %}
                <div class="weibo-img-container" >
                    <img src="{{weibo.retweeted_status.bmiddle_pic}}" class="full" />
                </div>
                {% endif %}
            {% else %}
                <p>{{weibo.text}}</p>
            {% endif %}
            {% if weibo.bmiddle_pic %}
                <div class="weibo-img-container" >
                    <img src="{{weibo.bmiddle_pic}}" class="full" />
                </div>
            {% endif %}

            <p>{{ weibo.created_at|time_passed }}</p>

            <div class="btn-group">
                <button id="category-button-{{weibo.w_id}}" class="btn btn-mini btn-primary" data-toggle="dropdown">
                    {{all_categories|sp_category:weibo.real_category}}
                    <span class="caret"></span>
                </button>

                <ul class="dropdown-menu">
                    {% for category in all_categories %}
                    <li>
                        <a id="{{weibo.w_id}}-{{category.category_id}}"
                            class="weibo-category" href="JavaScript:void()">{{category.name}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <span class="label {% if weibo.real_category == weibo.predict_category %} label-success {% else %} label-warning{% endif %}">{{all_categories|sp_category:weibo.predict_category}}</span> 
        </div>
    </li>
</ul>


